{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <script src="{% static "js/vendor/jquery-3.2.1.min.js" %}"></script>
    <title>AhCloud Google Drive API Project</title>
    <meta charset='utf-8' />
  </head>
  <body>
    <p>Authorize and Connect Google Drive</p>

    <script type="text/javascript">
        $(document).ready(function () {
            var auth_code = "{{ code }}";
            alert(auth_code);
            if(auth_code != "") {
                var opener = window.opener;
                if(opener) {
                    opener.document.getElementById("id_authorize_button").value = "Authorised";
                    opener.document.getElementById("id_authorize_button").disabled = true;
                    opener.document.getElementById("id_connect_button").disabled = false;
                }
                else {
                    alert("Open null");
                }
                window.close();
            }
        });
    </script>
  
  </body>
</html>