{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap3.3.7.min.css" %}">
    <link rel="stylesheet" href="{% static "css/styles_home.css" %}"/>
    <script src="{% static "js/vendor/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/vendor/bootstrap3.3.7.min.js" %}"></script>
    <script src="{% static "js/ajax_handler.js" %}"></script>
    <script src="{% static "js/scripts_home.js" %}"></script>
    <title>AhCloud Google Drive API Project</title>
    <meta charset='utf-8' />
  </head>
  <body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="jumbotron">Authorize and Connect Google Drive</h1>

                <!--Add buttons to initiate auth sequence and sign out-->
                <div class="text-center">
                    <input type="hidden" id="id_auth_code"/>
                    <input class="ahbtn btn btn-lg btn-primary" type="button" id="id_authorize_button" data-auth-url="{% url gdrive_authorise_url %}" value="Authorize"/>
                    <input class="ahbtn btn btn-lg btn-danger" type="button" id="id_connect_button" data-connect-url="{% url gdrive_connect_url %}" value="Connect to Drive"/>
                </div>
                <div id="id_authorized" style="display: none; margin-top: 40px; font-size: 20px;">
                        <span class="glyphicon glyphicon-ok-sign"> Authorized Successfully</span>
                </div>
                <div id="id_connected" style="display: none; margin-top: 40px; font-size: 20px;">
                        <span class="glyphicon glyphicon-ok-sign"> Connected</span>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function () {
            var auth_code = "{{ code }}";
            var error = "{{ error }}";
            if(auth_code != "") {
                window.opener.document.getElementById("id_authorize_button").value = "Authorized";
                window.opener.document.getElementById("id_authorize_button").disabled = true;
                window.opener.document.getElementById("id_connect_button").disabled = false;
                window.opener.document.getElementById("id_auth_code").value = auth_code;
                window.opener.document.getElementById("id_authorized").style.display = "block";
                window.close();
            }
            else if(error != "") {
                window.opener.document.getElementById("id_authorize_button").value = "Failed. Try Authorise Again";
                window.close();
            }
        });
    </script>
  
  </body>
</html>